.box{
    position: relative;
}
.box .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}
.percent svg circle {
    position: relative;
    width: 150px;
    height: 150px;
  fill:none;
  stroke-width: 10;
  stroke: black;
  transform: translate(5px,5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}
.percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: rgb(229, 237, 255);
}
.percent svg circle:nth-child(2){

    stroke: rgb(59 130 246);

}

/* circle two */
.percent2 {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
  }
  
  .percent2 svg {
    position: relative;
    width: 150px;
    height: 150px;
  }
  .percent2 svg circle {
      position: relative;
      width: 150px;
      height: 150px;
    fill:none;
    stroke-width: 10;
    stroke: black;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
  }
  .percent2 svg circle:nth-child(1){
      stroke-dashoffset: 0;
      stroke: rgb(229, 237, 255);
  }
  .percent2 svg circle:nth-child(2){
      stroke-dashoffset: calc(440 - (440 * 17) / 100);
      stroke: rgb(59 130 246);
  
  }